@import "tailwindcss";

@plugin '@tailwindcss/aspect-ratio';
@plugin '@tailwindcss/typography';

html, body {
    @apply bg-base-200;
}

@utility prose {
    @apply !max-w-5xl mx-auto px-3;
    .btn {
        text-decoration: none;
    }
}

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
    themes: forest --default, forest --prefersdark;
}

@custom-variant hotwire-native {
    body[data-hotwire-native] & {
        @slot;
    }
}

@custom-variant not-hotwire-native {
    body:not([data-hotwire-native]) & {
        @slot;
    }
}
