<main class="prose dark:prose-invert md:py-16 py-8">
  <header>
    <h1>Modifier ma plante</h1>
  </header>

  <div id="<%= dom_id(@plant) %>" class="contents">
    <%= render "form", plant: @plant %>
  </div>

  <%= link_to "Retour aux plantes", root_path, class: "btn btn-link" %>
</main>
