<main class="prose dark:prose-invert md:py-16 py-8">
  <header class="flex justify-between items-center mb-4">
    <h2 class="mt-0 mb-0">Mes plantes</h2>

    <%= link_to new_recognition_request_path, class: "btn btn-primary btn-lg" do %>
      <%= lucide_icon "leaf", class: "size-[1.4em]" %>
      Nouvelle plante
    <% end %>
  </header>

  <section>
    <% if @plants.empty? %>
      <p class="text-center">
        Vous n’avez aucune plante pour le moment.
        <br/>
        Ajouter en via la fonctionnalité de détection par IA ci-dessus !
      </p>
    <% else %>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-items-center">
        <% @plants.each do |plant| %>
          <%= render "plant", plant: plant %>
        <% end %>
      </div>
    <% end %>
  </section>
</main>
