<div class="w-full">
  <% content_for :title, "Plante" %>

  <div id="new_plant" class="min-w-full my-2">
    <h1 class="text-5xl font-extrabold dark:text-white">Nouvelle plante</h1>

    <%= render "form", plant: @plant %>
  </div>

  <%= link_to "Retour aux plantes", plants_path %>
</div>
