service: bien_vert
image: armandmgt/bien_vert
servers:
  web:
    - minipc.armandmgt.fr
  job:
    hosts:
      - minipc.armandmgt.fr
    cmd: bin/jobs

proxy:
  ssl: true
  host: bien-vert.armandmgt.fr

registry:
  server: ghcr.io
  username: armandmgt
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  remote: ssh://root@minipc.armandmgt.fr

env:
  secret:
    - RAILS_MASTER_KEY


aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"


volumes:
  - "bien_vert_storage:/rails/storage:z"


asset_path: /rails/public/assets:z
