production:
  # Management
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12

  # Plants
  rpush:
    command: "Rpush.push"
    schedule: every seconds
  watering_reminder:
    command: "Plant.find_each(&:send_watering_reminder)"
    schedule: at 19pm every day
