<h1>Politique de confidentialité</h1>
<p>
  Nous attachons une grande importance à votre vie privée. Nous n'analysons ni n'utilisons vos données à d'autres fins que la fourniture et la maintenance de notre service.
</p>
<p>
  Nous ne partageons pas vos données avec des tiers. Toutes les informations que vous fournissez sont utilisées uniquement pour faire fonctionner le service.
</p>
<p>
  Si vous choisissez de supprimer votre compte, toutes les données associées sont définitivement supprimées de nos systèmes. Nous ne conservons aucune de vos informations après la suppression du compte.
</p>
<p>
  Si vous avez des questions concernant cette politique, veuillez nous écrire à <%= link_to "hello@bien-vert.armandmgt.fr", "mailto:hello@bien-vert.armandmgt.fr" %>.
</p>
